/.vscode
node_modules
/coverage
firebase-debug.log
npm-debug.log
package-lock.json
.npmrc
functions\node_modules

.DS_Store
.idea
*.iml
functions/node_modules/.bin/js-yaml
functions/node_modules/.bin/acorn
functions/node_modules/.bin/eslint
functions/node_modules/.bin/esparse
functions/node_modules/.bin/esvalidate
functions/node_modules/.bin/gcs-upload
functions/node_modules/.bin/gp12-pem
functions/node_modules/.bin/mime
functions/node_modules/.bin/mkdirp
functions/node_modules/.bin/pbjs
functions/node_modules/.bin/prettier
functions/node_modules/.bin/rimraf
functions/node_modules/.bin/semver
functions/node_modules/.bin/sshpk-conv
functions/node_modules/.bin/sshpk-sign
functions/node_modules/.bin/sshpk-verify
functions/node_modules/.bin/uuid
functions/node_modules/.bin/which
functions/node_modules/.bin/window-size
functions/node_modules/@google-cloud/common-grpc/node_modules/.bin/gp12-pem
functions/node_modules/@google-cloud/common-grpc/node_modules/.bin/mime
functions/node_modules/@google-cloud/storage/node_modules/.bin/gp12-pem
functions/node_modules/@google-cloud/storage/node_modules/.bin/mime
functions/node_modules/acorn-jsx/node_modules/.bin/acorn
functions/node_modules/espree/node_modules/.bin/acorn
functions/node_modules/gcs-resumable-upload/node_modules/.bin/gp12-pem
functions/node_modules/gcs-resumable-upload/node_modules/.bin/mime
functions/node_modules/google-gax/node_modules/.bin/gp12-pem
functions/node_modules/google-gax/node_modules/.bin/mime
functions/node_modules/google-gax/node_modules/.bin/pbjs
functions/node_modules/google-gax/node_modules/.bin/pbts
functions/node_modules/google-proto-files/node_modules/.bin/pbjs
functions/node_modules/google-proto-files/node_modules/.bin/pbts
functions/node_modules/grpc/node_modules/.bin/detect-libc
functions/node_modules/grpc/node_modules/.bin/mkdirp
functions/node_modules/grpc/node_modules/.bin/node-pre-gyp
functions/node_modules/grpc/node_modules/.bin/rc
functions/node_modules/grpc/node_modules/.bin/rimraf
functions/node_modules/grpc/node_modules/.bin/semver
functions/node_modules/grpc/node_modules/.bin/sshpk-conv
functions/node_modules/grpc/node_modules/.bin/sshpk-sign
functions/node_modules/grpc/node_modules/.bin/sshpk-verify
functions/node_modules/grpc/node_modules/.bin/uuid
functions/node_modules/grpc/node_modules/node-pre-gyp/node_modules/.bin/nopt
functions/node_modules/send/node_modules/.bin/mime
